<div class="content-modal-product">
  <form [formGroup]="addClient">

    <div class="content-inputs">
      <div class="content-medium">
        <input-text placeholder="Apellidos" [formGroup]="addClient" name="lastName">
          <label>Apellidos</label>
        </input-text>
      </div>
      <div class="content-medium">
        <input-text placeholder="Nombres" [formGroup]="addClient" name="names">
          <label>Nombres</label>
        </input-text>
      </div>
    </div>

    <div class="content-inputs">
      <div class="content-medium">
        <input-text placeholder="Numero de documento" [formGroup]="addClient" name="dni">
          <label>Numero de documento</label>
        </input-text>
      </div>

      <div class="content-medium">
        <input-text placeholder="Celular" [formGroup]="addClient" name="phoneNumber">
          <label>Celular</label>
        </input-text>
      </div>
    </div>

    <div class="content-inputs">
      <div class="content-medium">
        <input-text placeholder="Celular" [formGroup]="addClient" name="optionalNumber">
          <label>Celular (opcional)</label>
        </input-text>
      </div>
      <div class="content-medium">
        <input-text placeholder="Email" [formGroup]="addClient" name="email">
          <label>Email</label>
        </input-text>
      </div>
    </div>

    <!--div class="content-inputs">
    <div class="content-medium">
      <input-text placeholder="Origen">
        <label>Origen</label>
      </input-text>
    </div>
    <div class="content-medium">
      <input-text placeholder="Box">
        <label>Box</label>
      </input-text>
    </div>
  </div-->

    <div class="content-inputs">
      <div class="content-medium">
        <input-text placeholder="Calle" [formGroup]="addClient" name="addres">
          <label>Calle</label>
        </input-text>
      </div>
      <div class="content-medium">
        <input-text placeholder="Numero" [formGroup]="addClient" name="addresNumber">
          <label>Numero</label>
        </input-text>
      </div>
    </div>

  </form>


  <div class="content-btn-save">
    <btn-save (click)="saveClient()">Guardar Cliente</btn-save>
  </div>

</div>
