<card-content>
  <p title>Productos</p>
  <div content class="content-table">
    <div class="container-actions">
      <search></search>
      <buttom-action *ngIf="detail" (click)="openModal()">Agregar Producto</buttom-action>
    </div>
    <div class="container-table">
      <table [heightBody]="height">
        <item-name-table width="150px">Identificador</item-name-table>
        <item-name-table width="300px">Nombre</item-name-table>
        <item-name-table width="100px">Disponibles</item-name-table>
        <item-name-table width="100px">Precio</item-name-table>
        <item-name-table *ngIf="detail" width="100px">Costo</item-name-table>
        <item-name-table *ngIf="detail" width="100px">Accion</item-name-table>

        <item-table *ngFor="let item of products">
          <item-name-table width="150px">#{{ item.idProduct }}</item-name-table>
          <item-name-table width="300px">{{ item.name}}</item-name-table>
          <item-name-table width="100px">{{ item.stock }}</item-name-table>
          <item-name-table width="100px">${{ item.price }}</item-name-table>
          <item-name-table *ngIf="detail" width="100px">${{ item.cost }}</item-name-table>
          <item-name-table *ngIf="detail" width="100px" [actions]="true">
            <pencil icon (click)="editProdut(item)"></pencil>
            <bin icon (click)="deleteProduct(item.id)"></bin>
          </item-name-table>
        </item-table>

        <div class="emptyTable" empty *ngIf="products.length == 0">
          <p>Esta lista esta vacia</p>
        </div>
      </table>
    </div>
  </div>
</card-content>

<ng-container *ngIf="openedModal">
  <modal (closeEvent)="closeModal()">
    <p title>Agregar Producto</p>
    <add-product content (saveEvent)="add_update($event)" [productEdit]="productEdit"></add-product>
  </modal>
</ng-container>


<ng-container *ngIf="modalDelete">
  <modal (closeEvent)="closeModal()">
    <p title-center>¿Seguro que quieres eliminarlo?</p>
    <alert-delete content (finally)="closeModal()" [inputDelete]="productDelete" serviceDelete="product"></alert-delete>
  </modal>
</ng-container>
