<card-content>
  <p title>Productos</p>
  <div content class="content-table">
    <search></search>
    <table class="table">
      <item-name-table width="150px">Identificador</item-name-table>
      <item-name-table width="300px">Nombre</item-name-table>
      <item-name-table width="100px">Disponibles</item-name-table>
      <item-name-table width="100px">Precio</item-name-table>

      <item-table>
        <item-name-table width="150px">Identificador</item-name-table>
        <item-name-table width="300px">Nombre</item-name-table>
        <item-name-table width="100px">Disponibles</item-name-table>
        <item-name-table width="100px">Precio</item-name-table>
      </item-table>

      <item-table>
        <item-name-table width="150px">Identificador</item-name-table>
        <item-name-table width="300px">Nombre</item-name-table>
        <item-name-table width="100px">Disponibles</item-name-table>
        <item-name-table width="100px">Precio</item-name-table>
      </item-table>

      <item-table>
        <item-name-table width="150px">Identificador</item-name-table>
        <item-name-table width="300px">Nombre</item-name-table>
        <item-name-table width="100px">Disponibles</item-name-table>
        <item-name-table width="100px">Precio</item-name-table>
      </item-table>

      <item-table>
        <item-name-table width="150px">Identificador</item-name-table>
        <item-name-table width="300px">Nombre</item-name-table>
        <item-name-table width="100px">Disponibles</item-name-table>
        <item-name-table width="100px">Precio</item-name-table>
      </item-table>

      <item-table>
        <item-name-table width="150px">Identificador</item-name-table>
        <item-name-table width="300px">Nombre</item-name-table>
        <item-name-table width="100px">Disponibles</item-name-table>
        <item-name-table width="100px">Precio</item-name-table>
      </item-table>


      <item-table>
        <item-name-table width="150px">Identificador</item-name-table>
        <item-name-table width="300px">Nombre</item-name-table>
        <item-name-table width="100px">Disponibles</item-name-table>
        <item-name-table width="100px">Precio</item-name-table>
      </item-table>

      <item-table>
        <item-name-table width="150px">Identificador</item-name-table>
        <item-name-table width="300px">Nombre</item-name-table>
        <item-name-table width="100px">Disponibles</item-name-table>
        <item-name-table width="100px">Precio</item-name-table>
      </item-table>

      <item-table>
        <item-name-table width="150px">Identificador</item-name-table>
        <item-name-table width="300px">Nombre</item-name-table>
        <item-name-table width="100px">Disponibles</item-name-table>
        <item-name-table width="100px">Precio</item-name-table>
      </item-table>

      <item-table>
        <item-name-table width="150px">Identificador</item-name-table>
        <item-name-table width="300px">Nombre</item-name-table>
        <item-name-table width="100px">Disponibles</item-name-table>
        <item-name-table width="100px">Precio</item-name-table>
      </item-table>

      <item-table>
        <item-name-table width="150px">Identificador</item-name-table>
        <item-name-table width="300px">Nombre</item-name-table>
        <item-name-table width="100px">Disponibles</item-name-table>
        <item-name-table width="100px">Precio</item-name-table>
      </item-table>
    </table>
  </div>

</card-content>
