<card-content [loader]="loader!.loaderActive">
  <p title>Productos</p>
  <div content class="content-table">
    <div class="container-actions">
      <search></search>
      <buttom-action *ngIf="detail" (click)="openModal()">Agregar Producto</buttom-action>
    </div>
    <div class="container-table">
      <dash-table [heightBody]="height" [data]="products" [titles]="tableKey" [detail]="detail">
      </dash-table>
    </div>
  </div>
</card-content>

<ng-container *ngIf="openedModal">
  <modal (closeEvent)="closeModal()">
    <p title>Agregar Producto</p>
    <add-product content (saveEvent)="add_update($event)" [productEdit]="productEdit"></add-product>
  </modal>
</ng-container>

<ng-container *ngIf="modalDelete">
  <modal (closeEvent)="closeModal()">
    <p title-center>¿Seguro que quieres eliminarlo?</p>
    <alert-delete content (finally)="deleteProductEvent($event)" serviceDelete="product"></alert-delete>
  </modal>
</ng-container>


<ng-conteiner *ngIf="notificationTab">
  <notification-tab>
    {{mesagge}}
  </notification-tab>
</ng-conteiner>
