<div class="list-utils-dashboard">
  <actions (actionClick)="openModal($event)" ></actions>
  <products heightBody = "calc(100vh - 600px)"></products>
  <pusrchase heightBody = "calc(100vh - 600px)"></pusrchase>
</div>

<ng-container *ngIf="modalProducts">
  <modal (closeEvent)="closeModalProductos()" >
    <p title>Agregar Producto</p>
    <add-product content (saveEvent)="closeModalProductos()"></add-product>
  </modal>
</ng-container>

<ng-container *ngIf="modalClient">
  <modal (closeEvent)="closeModalClient()" >
    <p title>Agregar Cliente</p>
    <add-client content ></add-client>
  </modal>
</ng-container>
