<div class="content-modal-product">

  <div class="content-inputs">
    <div class="content-small">
      <input-text placeholder="Codigo del producto">
        <label>Codigo del producto</label>
      </input-text>
    </div>
    <div class="content-large">
      <input-text placeholder="Nombre del proveedor" [icon]="true">
        <label>Nombre del proveedor</label>
      </input-text>
    </div>
  </div>

  <div class="content-inputs">
    <div class="content-xlarge">
      <input-text placeholder="Codigo del producto">
        <label>Codigo del producto</label>
      </input-text>
    </div>
  </div>

  <div class="content-inputs">
    <div class="content-medium">
      <input-text placeholder="Fecha de ingreso">
        <label>Fecha de ingreso</label>
      </input-text>
    </div>
    <div class="content-medium">
      <input-text placeholder="Cantidad">
        <label>Cantidad</label>
      </input-text>
    </div>
  </div>

  <div class="content-inputs">
    <div class="content-medium">
      <input-text placeholder="Origen">
        <label>Origen</label>
      </input-text>
    </div>
    <div class="content-medium">
      <input-text placeholder="Box">
        <label>Box</label>
      </input-text>
    </div>
  </div>

  <div class="content-inputs">
    <div class="content-medium">
      <input-text placeholder="Costo">
        <label>Costo</label>
      </input-text>
    </div>
    <div class="content-medium">
      <input-text placeholder="Moneda">
        <label>Moneda</label>
      </input-text>
    </div>
  </div>

  <div class="content-btn-save">
    <btn-save>Guardar Producto</btn-save>
  </div>

</div>
