<div class="content-modal-product">

  <div class="content-inputs">
    <div class="content-medium">
      <input-text placeholder="Apellidos">
        <label>Apellidos</label>
      </input-text>
    </div>
    <div class="content-medium">
      <input-text placeholder="Nombres">
      <label>Nombres</label>
    </input-text>
    </div>
  </div>

  <div class="content-inputs">
    <div class="content-medium">
      <input-text placeholder="Numero de documento">
        <label>Numero de documento</label>
      </input-text>
    </div>

    <div class="content-medium">
      <input-text placeholder="Celular">
        <label>Celular</label>
      </input-text>
    </div>
  </div>

  <div class="content-inputs">
    <div class="content-medium">
      <input-text placeholder="Celular">
      <label>Celular (opcional)</label>
    </input-text>
    </div>
    <div class="content-medium">
      <input-text placeholder="Email">
        <label>Email</label>
      </input-text>
    </div>
  </div>

  <!--div class="content-inputs">
    <div class="content-medium">
      <input-text placeholder="Origen">
        <label>Origen</label>
      </input-text>
    </div>
    <div class="content-medium">
      <input-text placeholder="Box">
        <label>Box</label>
      </input-text>
    </div>
  </div-->

  <div class="content-inputs">
    <div class="content-medium">
      <input-text placeholder="Calle">
        <label>Calle</label>
      </input-text>
    </div>
    <div class="content-medium">
      <input-text placeholder="Numero">
        <label>Numero</label>
      </input-text>
    </div>
  </div>

  <div class="content-btn-save">
    <btn-save>Guardar Cliente</btn-save>
  </div>

</div>
