<div class="header" header>
  <div class="saludo">
    <div class="bienvenido">Bienvenido,</div>
    <div class="name">
      {{name}}
    </div>
  </div>
  <div class="actions">
    <div class="notifications">
      <lord-icon
      src="https://cdn.lordicon.com/fsfgtaly.json"
      trigger="hover"
      colors="primary:#104891">
  </lord-icon>
    </div>
    <div class="my-perfil">
      <lord-icon
      src="https://cdn.lordicon.com/zthozvfn.json"
      trigger="hover"
      colors="primary:#000000,secondary:#1663c7,tertiary:#f9c9c0,quaternary:#ffffff">
  </lord-icon>
    </div>
  </div>

</div>
