<div class="header" header>
  <div class="saludo">
    <div class="bienvenido"><p>Bienvenido,</p></div>
    <div class="name">
      <p>{{name}}</p>
    </div>
  </div>
  <div class="actions">
    <div class="notifications">
      <lord-icon
      src="https://cdn.lordicon.com/fsfgtaly.json"
      trigger="hover"
      colors="primary:#104891"
      style="width: 80%; height: 80%;">
  </lord-icon>
    </div>
    <div class="my-perfil">
      <lord-icon
      src="https://cdn.lordicon.com/zthozvfn.json"
      trigger="hover"
      colors="primary:#000000,secondary:#1663c7,tertiary:#f9c9c0,quaternary:#ffffff"
      style="width: 80%; height: 80%;">
  </lord-icon>
    </div>
  </div>

</div>
