.conteiner-login{
  width: 400px;
  background-color: rgb(209, 209, 209);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.456);
  padding: 20px;
  position: relative;
  overflow: hidden;
  animation-name: active-card ;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  transition: 1s;
  .header{
    position: absolute;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: column;
    font-size: 25px;
    color:#fff;
    text-shadow: 2px 2px 2px #000;
    background-color: rgb(209, 209, 209);
   .logo-conteiner{
     height: 90px;
   }
  }
  .form{
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    border-bottom: 1px solid rgb(33, 0, 181);
    padding-bottom: 20px;
    input-text{
      margin-bottom: 20px;
    }
    .content-btn{
      width: 100%;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .login-google{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.4));
  }

}


@keyframes active-card {
 0%{
    height: 170px;
  }
  50%{
    height: 170px;
  }
  90% {
    height: 550px;
  }
}
