<div class="container-table" id="body-table">
  <table style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th *ngFor="let title of titlesTable">{{ title.name }}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let element of dataTable" class="ContentContainer">
        <td *ngFor="let title of titlesTable">{{element[title.referenceValue]}}</td>
      </tr>
    </tbody>

  </table>

  <div class="table-style">
    <header-table>
    </header-table>
    <item-table *ngFor="let element of dataTable"></item-table>
    </div>
      <!--header-table>
    <ng-content select="item-name-table">

    </ng-content>
  </header-table>
  <body-table [height]="height">

    <div #listTable (cdkObserveContent)="changes()">
      <ng-content select="item-table">

      </ng-content>
    </div>

    <div class="emptyTable" *ngIf="!existTable">
      <p>Esta lista esta vacia</p>
    </div>
    <ng-content select="[empty]">

    </ng-content>

  </body-table-->
  </div>
