.card-content{
  min-height: 100px;
  max-height: 100%;
  width: 100%;
  box-shadow: 5px 5px 6px rgb(142, 142, 142);
  border-radius: 20px;
  border: 0.5px solid #ccc;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column;
  margin-bottom: 30px;
  .title{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .content{
    width: 100%;
    max-height: calc(100vh - 300px);
    overflow: hidden;
    box-sizing: border-box;
  }
}
