<div class="card-content" *ngIf="!loader; else loading">
  <btn-close *ngIf="icon" (click)="btnClose()"></btn-close>
  <div class="title">
    <ng-content select="[title]"></ng-content>
  </div>
  <div class="title-center">
    <ng-content select="[title-center]"></ng-content>
  </div>
  <div class="content">
    <ng-content select="[content]">

    </ng-content>
  </div>
  <div class="table">
    <ng-content select="table">

    </ng-content>
  </div>
</div>

<ng-template #loading>
  <div class="card-content">
    <div class="loading">
      <loader></loader>
    </div>
  </div>
</ng-template>

