<card-content>
  <p title>Proveedores</p>
  <div content class="content-table">
    <div class="container-actions">
      <search></search>
      <buttom-action>Agregar Proveedor</buttom-action>
    </div>
    <div class="conteiner-table">
      <dash-table style="width: 100%;" [heightBody]="height">
        <item-name-table width="150px">Nombre</item-name-table>
        <item-name-table width="150px">Telefono</item-name-table>
        <item-name-table width="300px">Email</item-name-table>
        <item-name-table width="400px">Direccion</item-name-table>
        <item-name-table width="100px">Accion</item-name-table>

        <item-table *ngFor="let item of mockProducts">
          <item-name-table width="150px">{{ item.name }}</item-name-table>
          <item-name-table width="150px">{{ item.tel}}</item-name-table>
          <item-name-table width="300px">{{ item.email }}</item-name-table>
          <item-name-table width="400px">{{ item.addres }}</item-name-table>
          <item-name-table width="100px" [actions]="true">
            <pencil icon></pencil>
            <bin icon></bin>
          </item-name-table>
        </item-table>
      </dash-table>
    </div>

  </div>
</card-content>

<ng-container *ngIf="openedModal">
  <modal (closeEvent)="closeModal()">
    <p title>Agregar Producto</p>
    <add-product content (saveEvent)="add_update($event)" [providerEdit]="providerEdit"></add-product>
  </modal>
</ng-container>


<!--ng-container *ngIf="modalDelete">
  <modal (closeEvent)="closeModal()">
    <p title-center>¿Seguro que quieres eliminarlo?</p>
    <alert-delete content (finally)="deleteProductEvent($event)"  serviceDelete="product"></alert-delete>
  </modal>
</ng-container-->

