/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Cairo', sans-serif;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

item-name-table{
  width: auto;
}



